body {
    height: 99vh;
    width: 99vw;
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 15px;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14pt;
    font-family: sans-serif;
}
.side-panel {
    width: 170px;
    height: 90vh;
    border: 1px solid black;
    box-sizing: border-box;
}
.side-panel .img-wrapper {
    padding: 10px;
    text-align: center;
}
.side-panel ul {
    list-style: none;
    padding-left: 0;
    font-size: 14pt;
}
.side-panel ul li {
    padding-left: 5px;
    margin-bottom: 5px;
    border-top: 1px darkgray solid;
    border-bottom: 1px darkgray solid;
}
.side-panel ul li:hover {
    cursor: pointer;
}
.side-panel ul li.active,
.side-panel ul li:hover {
    background-color: lightgrey;
}
.side-panel ul li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: unset;
}
.side-panel ul li a:visited {
    color: unset;
}
.main-panel {
    padding-top: 90px;
    background: linear-gradient(lightgrey calc(110px + 2em), transparent 10px);
}
.main-panel h1:first-of-type {
    padding-top: 0;
    margin-top: 0;
    font-size: 40px;
    padding-left: 10px;
}
@media screen {
    .main-panel {
        max-height: calc(100vh - 357px);
    }
    .scroll-wrapper {
        padding-right: 10px;
        max-height: 100%;
        overflow-y: auto;
    }
    footer {
        margin-top: -25px;
        margin-bottom: 25px;
    }
}
.two, [two], [t] {
    grid-column: span 2;
}

.four, [four], [f] {
    grid-column: span 4;
}

.six, [six], [s] {
    grid-column: span 6;
}

.eight, [eight], [e] {
    grid-column: span 8;
}

.all, [all], [a] {
    grid-column: span var(--colnum);
}

.small, [small], [s] {
    font-size: 12pt !important;
}

.notopmargin, [notop], [n] {
    margin-top: 0;
}

.bus {
    --bitheight: 50px;
    --colnum: 24;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--colnum), calc(100% / var(--colnum)));
    grid-template-rows: repeat(2, auto);
}

.bus .byte {
    display: grid;
    width: 100%;
    color: lightgray;
}

.bus .byte.two {
    grid-template-columns: repeat(2, auto);
}

.bus .byte.four {
    grid-template-columns: repeat(4, auto);
}

.bus .byte.six {
    grid-template-columns: repeat(6, auto);
}

.bus .byte.eight {
    grid-template-columns: repeat(8, auto);
}

.bus .byte.reset {
    counter-reset: bits;
}

.bus .byte>.bit {
    width: 100%;
    height: var(--bitheight);
    border: 1px lightgrey solid;
}

.bus .byte>.bit::before {
    padding-left: calc(50% - 1em/4);
    counter-increment: bits;
    content: counter(bits);
}

.bus .byte.first>.bit {
    background-color: rgba(255, 0, 0, 0.5);
}

.bus .byte.secound>.bit {
    background-color: rgba(0, 255, 0, 0.5);
}

.bus .byte.third>.bit {
    background-color: rgba(0, 0, 255, 0.5);
}

.bus .byte.fourth>.bit {
    background-color: rgba(255, 255, 0, 0.5);
}

.bus .byte.third.fourth>.bit {
    background: linear-gradient(45deg, rgba(0, 0, 255, 0.5) 50%, rgba(255, 255, 0, 0.5) 50%);
}

.bus>.byte-text {
    text-align: center;
}

.bus>.byte-text.all {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--colnum), calc(100% / var(--colnum)));
    border-bottom: 1px lightgray solid;
    padding-top: 10px;
}

.bus>.byte-text .byte {
    text-align: initial;
}

.bus .byte>.bit.zero,
.bus .byte>.bit.one {
    color: black;
}

.bus .byte>.bit.zero::before {
    content: "0";
}

.bus .byte>.bit.one::before {
    content: "1";
}

.bus .byte>.bit.none {
    text-align: center;
    color: black;
    font-size: 12pt;
}

.bus .byte>.bit.none::before {
    padding-left: 0;
    content: "";
}

.bus>.byte-text>.command-family {
    margin-bottom: 10px;
}

.bus>.byte-text>.command-family>label {
    display: inline-block;
    margin-top: calc(var(--bitheight) / -2);
    background-color: white;
}
